:root {
	--light: #f1e9e9;
	--dark: #202124;
	--yellow: #ecec1a;
}

html {
  font-size: 62.5%;
}
 
body {
	font-family: 'Nunito', sans-serif;
	font-size: 1.5rem;
	min-height: 100vh;
	margin: 0;
	background-color: var(--light);
	color: var(--dark);
}

/*  body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
} */

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
} */

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.dark {
  background-color: var(--dark)!important;
  color: var(--light) !important;
}

.dark-bulb {
  color: var(--yellow);
}

.yellow-border {
  border: 2px solid var(--yellow)!important;
}

.white-border {
	border: 2px solid var(--light)!important;
}





/* .loader {
	position: absolute;
	visibility: visible;
	top: 0;
	left: 0;
	min-height: 100vh;
	width: 100%;
	z-index: 100;
	background-color: var(--dark);
	transition: opacity 0.1s ease;
	animation: loader 4s 1 forwards;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
	opacity: 0;
	z-index: -100;
	visibility: hidden
  }
} */


