:root {
	--light: #f1e9e9;
	--dark: #202124;
	--yellow: #ecec1a;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
 
body {
	font-family: 'Nunito', sans-serif;
	min-height: 100vh;
	margin: 0;
	background-color: var(--light);
	color: var(--dark);
	box-sizing: border-box;
	cursor: default;
	height: 100vh;
	font-weight: 300;
	line-height: 1.5;
	background: #FFDEE9;
	background: linear-gradient(45deg, #FFDEE9 0%, #d0fcfa 100%);
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-size: 1.6rem;
	transition: all 0.25s ease-in;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

p {
	line-height: 1.5;
}

a {
  text-decoration: underline;
  color: currentColor;
  outline: none;
}

a:hover {
	text-decoration: underline;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.dark {
  background-color: var(--dark)!important;
  color: var(--light) !important;
}

.dark-bulb {
  color: var(--yellow);
}

.yellow-border {
  border: 2px solid var(--yellow)!important;
}

.white-border {
	border: 2px solid var(--light)!important;
}
.blur {
  filter: blur(3px);
  pointer-events: none;
}





/* .loader {
	position: absolute;
	visibility: visible;
	top: 0;
	left: 0;
	min-height: 100vh;
	width: 100%;
	z-index: 100;
	background-color: var(--dark);
	transition: opacity 0.1s ease;
	animation: loader 4s 1 forwards;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
	opacity: 0;
	z-index: -100;
	visibility: hidden
  }
} */


